 body{
            background-color: rgb(20, 20, 20);
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }
        .header{
            font-size: 30px;

        }
        .move-button{
            background-color: rgb(50, 50, 50);
            /* background-color: transparent; */
            
            border: none;
            cursor: pointer;
        
            width: 120px;
            height: 120px;
            margin-left: 10px;
            border-radius: 60px;
            margin-bottom: 50px;
            margin-top: 50px;
        }
        .reset-button{
            background-color: red;
            color: aliceblue;
            border: none;
            padding: 12px 15px;
            border-radius: 15px;
            cursor: pointer;


        }
        .result{
            font-size: 25px;

        }
        .js-score{
            font-size: 25px;
        }
        .move-result{
            font-size: 25px;
        }
        .move-image{
            width: 100px;
            height: 100px;
        }
.move-button:hover{
    background-color: rgb(80, 80, 80);
    transition: 0.3s;
}
.reset-button:hover{
    background-color: darkred;
    transition: 0.3s;
}
.move-button:active{
    transform: scale(0.9);
    transition: 0.1s;
}
.reset-button:active{
    transform: scale(0.9);
    transition: 0.1s;
}
.move-emoji{
    width: 80px;
    height: 80px;
}
.move-button-player, .move-button-computer{
    background-color: rgb(50, 50, 50);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 15px;
    cursor: default;
    margin: 5px;
}

